{% extends "start/base.html" %}

{% block body_title %}
Add task on {{ status }}
{% endblock %}

{% block content %}
<form method="post" action="{% url 'start:add' status %}">
	{% csrf_token %}
	<table>
	 	{{ form }}
	 	<tr>
	 	<td></td><td><input type="submit" value="Add" /></td>
 		</tr>
	 </table>
</form>
<p/>
<a href="{% url 'start:tasks' status %}">{{ status|capfirst }} tasks</a>
{% endblock %}
