{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <nav>
     <a href="{% url 'todolist:today' %}">today</a>
     <a href="{% url 'todolist:someday' %}">someday</a>
     <a href="{% url 'todolist:fixed' %}">fixed</a>
    </nav>

    <form action="." method="post">{% csrf_token %}
    <table>
    {{ form }}
    <tr>
        <td colspan="2"><input type="submit" value="Apply" /></td>
    </tr>
    </table>
</form>
</body>
</html>