{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/css/style.css' %}" />
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="{% static 'todolist/js/jquery.min.js' %}"></script>
    <script src="{% static 'todolist/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'todolist/js/commands.js' %}"></script>

</head>
<body>
    <p><!--<a href="{% url 'auth_login' %}">{% trans "login" %}</a> --><a href="{% url 'auth_logout' %}">{% trans "logout" %}</a> ({{ user }})</p>

    <nav>
        {% for link, text in links %}
            <a href="{% url link %}">{{ text }}</a>
        {% endfor %}
    </nav>

    <h1>{{ header }}</h1>

    {%  if object_list %}
    <table>
        {% for task in object_list %}
            <tr><td><input type="checkbox" name="{{ task.id }}"></td><td>{{ task.text }}</td><td>{{ task.date|date:"d.m  " }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    <nav>
        {% for link, id, text in commands%}
            <a href="{% url link %}" id="{{ id }}">{{ text }}</a>
        {% endfor %}
    </nav>

</body>
</html>