{% extends "polls/base.html" %}

{% block title %}Add new task{% endblock %}

{% block content %}

<div class="well">
{% if message %}
  <div class="alert alert-danger">{{message}}</div>
{% endif %}
<form class="form-horizontal" role="form" action="/polls/add-task/" method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">Add task</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var options = {format:'dd.mm.yyyy'};
    $('[name="date"]').datepicker(options);
  });
</script>
{% endblock %}




<!--
  <div class="form-group">
    <label for="Title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="title" id="Title" placeholder="Title" value="{{title}}">
    </div>
  </div>
  <div class="form-group">
    <label for="Date" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-4">
      <input class="form-control" name="date" id="Date" type="text" data-date-format="dd-mm-yyyy">
    </div>
  </div>
-->

