<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/datepicker/css/datepicker.css' %}">

    <script src="{% static 'polls/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'polls/dist/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'polls/datepicker/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>
    <title>{% block title %}Python winter school{% endblock %}</title>
</head>


<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="{% url 'polls:auth_logout' %}">Logout</a>
                </div>
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="#">Hello, {{ user.username }}</a>
                </div>
        {% else %}

            <div class="form-group">
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="{% url 'polls:auth_login' %}">Login</a>
                </div>
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" href="{% url 'polls:registration_register' %}">Register</a>
                </div>
            </div>

        {% endif %}
    </div>
    </div>
</div>

    <div class="container" id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>