{% extends "polls/base.html" %}
{% load staticfiles %}

{% block content %}

{% csrf_token %}

<div class="well">
  <a class="btn btn-primary btn-xs {% if type == 'today' %}active{% endif %}" role="button" href="{% url 'polls:list' 'today' %} ">Today</a>
  <a class="btn btn-primary btn-xs {% if type == 'someday' %}active{% endif %}" role="button" href="{% url 'polls:list' 'someday' %}">Someday</a>
  <a class="btn btn-primary btn-xs {% if type == 'fixed' %}active{% endif %}" role="button" href="{% url 'polls:list' 'fixed' %}">Fixed</a>
</div>
{% if tasks_list %}

  <table class="table">
    <thead>
      <tr>
          <th class="col-sm-0"></th>
          <th>Title</th>
          <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks_list %}
    <tr>
        <td class="col-sm-1" style="text-align: center; vertical-align: middle;">
              <input class="span4" type="checkbox" data-id="{{task.id}}">
        </td>
        <td>{{ task.title }}</td>
        <td>{{ task.date|date:"d.m.Y" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
    {% if type != 'fixed' %}
        <a class="btn btn-primary btn-xs" role="button" href="{% url 'polls:addtask' %}?type={{type}}">Add task</a>
        <a class="btn btn-info btn-xs btn-fix" role="button" href="javascript:void(0)">Fix</a>
    {% endif %}
    <a class="btn btn-info btn-xs btn-remove" role="button" href="javascript:void(0)">Remove</a>

  {% else %}

    <p>No tasks are available.</p>

    {% if type != 'fixed' %}
        <a class="btn btn-primary btn-xs" role="button" href="{% url 'polls:addtask' %}?type={{type}}">Add task</a>
    {% endif %}

  {% endif %}


<script src="{% static 'polls/utils.js' %}" type="text/javascript"></script>
<script src="{% static 'polls/modellist.js' %}" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function(){
      var settings = {
      };
      var model = new List(settings);
      model.initPage();
    });
</script>

{% endblock %}
