{% load url from future %}

{% block content %}

{% if form.errors %}
<p style="color:red">Your username and password didn't match. Please try again.</p>
{% endif %}

<br/>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	{{ form.username.label }}&nbsp;
	{{ form.username }}&nbsp;
    {{ form.password.label }}&nbsp;
    {{ form.password }}&nbsp;

<input type="submit" value="Sign in" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="{% url 'registration_register' %}">Register</a>
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br/>
<hr/>
<h4>
No actions for anonymous user :(
<h4/>
{% endblock %}
