<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% block content %}
    <h1>Registration</h1>
    <form method="post" action="">
        {% csrf_token %}
        <table>
        	{{ form }}
        </table>
        <input type="submit" value="Register" / class="clearfix" />
    </form>
    <br/>
    <a href="/accounts/login/">To login page</a>
    {% endblock %}
</body>
</html>