<!DOCTYPE html>
<html>
  <head>
  	<title>ToDo Application</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'start/style.css' %}" /> 
  </head>
  <body>

    <h1>{% block body_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </body>
</html>