{% extends "start/base.html" %}

{% block body_title %}
ToDo list for {{ status }} tasks
{% endblock %}

{% block content %}
{% for item in statuses %}
	{% if status == item %}
		<strong>{{ item|capfirst }}</strong>&nbsp;&nbsp;
	{% else %}
		<a href="{% url 'start:tasks' item %}">{{ item|capfirst }}</a>&nbsp;&nbsp;
	{% endif %}
{% endfor %}

<p/>

{% if tasks %}
	<form action="{% url 'start:handle' status %}" method="post">
	{% csrf_token %}
	<table border>
	{% for task in tasks %}
		<tr>
			<td>
    		<input type="checkbox" name="task_id" value="{{ task.id }}" />
    		</td>
			<td>{{ task.content }}</td>
			<td align=center>{{ task.fix_date|date:"d.m.Y" }}</td>
    	</tr>
	{% endfor %}
	</table>
{% else %}
	ToDo list is empty
{% endif %}
<p/>
{% if status != 'fixed' %}
	<a href="{% url 'start:add' status %}">Add task</a>&nbsp;&nbsp; 
	{% if tasks %}
		<input type="submit" name="action" value="Fix" onClick="this.value='fix';" />
	{% endif %}
{% endif %}
{% if tasks %}
	<input type="submit" name="action" value="Remove" onClick="this.value='remove';" />&nbsp;&nbsp; 
	</form>
{% endif %}
{% endblock %}
