{% load url from future %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="login" /> <a href="{% url 'registration_register' %}">Регистрация</a>
<input type="hidden" name="next" value="{{ next }}" />
</form>

For the super lazy:
<ul>
    <li>admin admin1</li>
    <li>Tester 1</li>
</ul>


{% endblock %}