<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% block content %}
    <h1>Регистрация</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="register" / class="clearfix" />
    </form>
    {% endblock %}
</body>
</html>